<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2> До хедера </h2>

    <%-body -%>
    
    <h2> После футера </h2>
</body>
</html>